@charset "UTF-8";
.inicio, .mueble2 {
  display: flex;
  justify-content: center;
  align-items: center; }

.logo1 {
  height: 120px;
  width: 120px;
  border-radius: 6px; }

.navbar {
  background-image: url(../../imagenes/maderaNAV.jpg);
  background-color: #a51e09; }

.nav-link {
  font-size: 20px;
  color: black;
  background-color: rgba(255, 248, 220, 0.365);
  font-size: 20px; }

.bajo-pagina {
  background-color: brown;
  width: 50px;
  background-image: url(../../imagenes/maderaclara.jpg); }

.footer-logo {
  width: 15%; }

.footer-logo {
  display: flex;
  justify-content: space-evenly; }

.footer-contacto {
  border: solid 1px;
  border-radius: 6px; }

.iconos {
  bottom: 30px; }

.imagen1 {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: column;
  direction: flex-start; }

.textohindex {
  margin-top: 20%; }

.parrafo {
  font-size: map-get tamaño-tipografia, parrafos; }

.mueble2 {
  width: 500px;
  height: 500px; }
