.logo1{
    height: 120px;
    width: 120px;
    border-radius: 6px;

}
.navbar{
    background-image: url(./imagenes/maderaNAV.jpg);
    
        
}
.nav-link{
    font-size: 20px;
    color: black;
    background-color: rgba(255, 248, 220, 0.365);
}




.imagen1{
    width: 350px;
    height: 350px;
}
.textohindex{
    margin-top: 10%;
}





.bajo-pagina{
    background-color: brown;
    width: 50px;
    background-image: url(./imagenes/maderaclara.jpg);

}
.footer-logo{
    width: 15%;
}
.footer-logo{
    display: flex;
    justify-content: space-evenly;
}
.footer-contacto{
    border: solid 1px;
    border-radius: 6px;
    
}
.iconos{
    bottom: 30px;
}
