.bajo-pagina{
    background-color: brown;
    width:50%;
    background-image: url(../../imagenes/maderaclara.jpg);
   
}
.footer-logo{
    width: 15%;
}
.footer-logo{
    display: flex;
    justify-content: space-evenly;
}
.footer-contacto{
    border: solid 1px;
    border-radius: 6px;
    bottom: 50%;
    
}
.iconos{
    bottom: 50%;
}